.shopping-container {
  border: 2px solid black;
  width: 60rem;
  height: 95vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping-container header {
  padding: 4rem 0;
  border-bottom: 2px solid black;
  width: 90%;
}

.shopping-container form {
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  margin: 4rem 0;
}

.shopping-container form input {
  padding: 1rem 0;
  text-align: center;
}

.shopping-container form button {
  cursor: pointer;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  background: #323232;
  color: #ffffff;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shopping-container form button:hover {
  background: green;
}

.shopping-container .item-list {
  width: 90%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  background: transparent;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #323232;
  border-left: 0.5rem solid #ffffff;
}

.shopping-container .item-list .item {
  width: 100%;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shopping-container .item-list .item p {
  font-weight: 700;
}

.shopping-container .item-list .item button {
  text-decoration: none;
  font-weight: 600;
  color: white;
  background: #ff1c1c;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}

.shopping-container .item-list .item a:hover {
  font-weight: 900;
}
