/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: rgb(228, 228, 228);
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}
